<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>foreground</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>support</string>
      <string>glyphs.support</string>
    </array>
    <array>
      <string>support.crossbar</string>
      <string>glyphs.support.crossbar</string>
    </array>
    <array>
      <string>background</string>
      <string>glyphs.background</string>
    </array>
    <array>
      <string>support.S.wide</string>
      <string>glyphs.support.S_.wide</string>
    </array>
    <array>
      <string>support.S.middle</string>
      <string>glyphs.support.S_.middle</string>
    </array>
    <array>
      <string>skateboard_support_width_122.24_weight_496.51</string>
      <string>glyphs.skateboard_support_width_122.24_weight_496.51</string>
    </array>
    <array>
      <string>skateboard_support_width_475.08_weight_417.40</string>
      <string>glyphs.skateboard_support_width_475.08_weight_417.40</string>
    </array>
    <array>
      <string>skateboard_support_width_1000.00_weight_815.18</string>
      <string>glyphs.skateboard_support_width_1000.00_weight_815.18</string>
    </array>
  </array>
</plist>
