<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>J</key>
      <real>-10.5</real>
      <key>O</key>
      <real>-16.500000000000007</real>
      <key>T</key>
      <integer>-57</integer>
      <key>U</key>
      <real>-28.5</real>
      <key>V</key>
      <integer>-54</integer>
    </dict>
    <key>B</key>
    <dict>
      <key>A</key>
      <real>-7.5000000000000036</real>
      <key>H</key>
      <integer>-12</integer>
      <key>J</key>
      <real>-25.5</real>
      <key>O</key>
      <integer>-3</integer>
      <key>S</key>
      <real>-7.5</real>
      <key>T</key>
      <real>-25.5</real>
      <key>U</key>
      <real>-10.5</real>
      <key>V</key>
      <real>-25.5</real>
      <key>public.kern2.@MMK_R_A</key>
      <real>-7.5</real>
    </dict>
    <key>C</key>
    <dict>
      <key>A</key>
      <integer>-12</integer>
      <key>J</key>
      <real>-22.5</real>
      <key>T</key>
      <integer>-12</integer>
      <key>V</key>
      <real>-19.500000000000007</real>
      <key>public.kern2.@MMK_R_A</key>
      <integer>-12</integer>
    </dict>
    <key>E</key>
    <dict>
      <key>J</key>
      <integer>-24</integer>
      <key>T</key>
      <integer>-3</integer>
      <key>V</key>
      <integer>0</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <real>-37.500000000000014</real>
      <key>H</key>
      <real>-10.5</real>
      <key>J</key>
      <real>-73.50000000000003</real>
      <key>O</key>
      <integer>-15</integer>
      <key>S</key>
      <real>-21.000000000000007</real>
      <key>U</key>
      <integer>-3</integer>
      <key>V</key>
      <integer>0</integer>
      <key>public.kern2.@MMK_R_A</key>
      <real>-37.5</real>
    </dict>
    <key>G</key>
    <dict>
      <key>J</key>
      <integer>-18</integer>
      <key>O</key>
      <real>-4.5</real>
      <key>S</key>
      <real>-4.5</real>
      <key>T</key>
      <real>-31.5</real>
      <key>U</key>
      <integer>-6</integer>
      <key>V</key>
      <integer>-21</integer>
      <key>public.kern2.@MMK_R_A</key>
      <integer>-12</integer>
    </dict>
    <key>H</key>
    <dict>
      <key>J</key>
      <integer>-12</integer>
      <key>S</key>
      <integer>-9</integer>
      <key>T</key>
      <integer>0</integer>
    </dict>
    <key>J</key>
    <dict>
      <key>J</key>
      <real>-40.5</real>
      <key>O</key>
      <integer>-3</integer>
      <key>public.kern2.@MMK_R_A</key>
      <integer>-21</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>J</key>
      <real>-7.5000000000000036</real>
      <key>O</key>
      <real>-28.5</real>
      <key>T</key>
      <real>-91.5</real>
      <key>U</key>
      <real>-25.5</real>
      <key>V</key>
      <real>-55.5</real>
    </dict>
    <key>O</key>
    <dict>
      <key>A</key>
      <integer>-9</integer>
      <key>J</key>
      <real>-36.000000000000014</real>
      <key>S</key>
      <real>-13.5</real>
      <key>T</key>
      <integer>-27</integer>
      <key>V</key>
      <integer>-24</integer>
      <key>public.kern2.@MMK_R_A</key>
      <integer>-9</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <real>-28.5</real>
      <key>J</key>
      <integer>-60</integer>
      <key>S</key>
      <integer>0</integer>
      <key>T</key>
      <integer>-6</integer>
      <key>U</key>
      <integer>0</integer>
      <key>V</key>
      <integer>0</integer>
      <key>public.kern2.@MMK_R_A</key>
      <real>-28.5</real>
    </dict>
    <key>R</key>
    <dict>
      <key>H</key>
      <real>-13.5</real>
      <key>J</key>
      <real>-46.500000000000014</real>
      <key>O</key>
      <real>-16.500000000000007</real>
      <key>S</key>
      <real>-21.000000000000007</real>
      <key>T</key>
      <integer>-24</integer>
      <key>U</key>
      <real>-18.000000000000007</real>
      <key>V</key>
      <real>-28.5</real>
      <key>public.kern2.@MMK_R_A</key>
      <integer>-24</integer>
    </dict>
    <key>S</key>
    <dict>
      <key>A</key>
      <real>-13.5</real>
      <key>H</key>
      <real>-1.5</real>
      <key>J</key>
      <real>-34.5</real>
      <key>O</key>
      <integer>-12</integer>
      <key>S</key>
      <real>-13.5</real>
      <key>T</key>
      <integer>-15</integer>
      <key>U</key>
      <integer>-3</integer>
      <key>V</key>
      <integer>-6</integer>
      <key>W</key>
      <integer>0</integer>
      <key>public.kern2.@MMK_R_A</key>
      <real>-13.500000000000004</real>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <real>-169.5</real>
      <key>H</key>
      <real>-4.5</real>
      <key>J</key>
      <real>-94.5</real>
      <key>O</key>
      <integer>-27</integer>
      <key>S</key>
      <real>-7.5</real>
      <key>public.kern2.@MMK_R_A</key>
      <integer>-75</integer>
    </dict>
    <key>U</key>
    <dict>
      <key>A</key>
      <real>-22.5</real>
      <key>J</key>
      <integer>-42</integer>
      <key>S</key>
      <integer>0</integer>
      <key>V</key>
      <integer>0</integer>
      <key>public.kern2.@MMK_R_A</key>
      <real>-22.5</real>
    </dict>
    <key>V</key>
    <dict>
      <key>H</key>
      <integer>-6</integer>
      <key>J</key>
      <real>-79.50000000000003</real>
      <key>O</key>
      <real>-16.500000000000007</real>
      <key>S</key>
      <integer>-15</integer>
      <key>U</key>
      <integer>0</integer>
      <key>public.kern2.@MMK_R_A</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.@MMK_L_A</key>
    <dict>
      <key>J</key>
      <real>-10.5</real>
      <key>O</key>
      <real>-16.5</real>
      <key>T</key>
      <integer>-57</integer>
      <key>U</key>
      <real>-28.5</real>
      <key>V</key>
      <integer>-15</integer>
    </dict>
  </dict>
</plist>
